/*styles.css - Daniel Syrén (20105070)*/

/*#c Styling*/
#c {
    /*https://wallpapercave.com/w/wp5680536*/
    /*background-image: url('./assets/images/c.jpg');*/
    background-color: #003200;
    background-size: 100%;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
}

/*.container Styling*/
.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.counsellor Styling*/
.counsellor {
    align-items: center;
    background: #004800;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;  
    justify-content: space-around;
    width:500px;
}

/*.counsellor:hover Styling*/
.counsellor:hover {
    background: #00FF00;
}

/*.country Styling*/
.country {
    align-items: center;
    background: #004800;
    border-radius: 0.5rem;
    color: #00FF00;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.country:hover Styling*/
.country:hover {
    background-color: #00FF00;
    color: #004800;
}

/*.countries Styling*/
.countries {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*input Styling*/
input {
    background: #004800;
    border: none;
    color: #00FF00;
    margin: 0 0.5rem 0 0.5rem;
    outline: none;
    width: 100%;
}

/*.navOff Styling*/
.navOff {
    align-items: center;
    background: #004800;
    border-radius: 0.5rem;
    color: #00FF00;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.navOff:hover Styling*/
.navOff:hover {
    background-color: #00FF00;
    color: #004800;
}

/*.navOn Styling*/
.navOn {
    align-items: center;
    background: #00FF00;
    border-radius: 0.5rem;
    color: #004800;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.search Styling*/
.search {
    align-items: center;
    background: #004800;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 500px;
}

/*.searches Styling*/
.searches {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.university Styling*/
.university {
    align-items: center;
    background: #004800;
    border-radius: 0.5rem;
    color: #00FF00;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
}

/*.university:hover Styling*/
.university:hover {
    background-color: #00FF00;
    color: #004800;
}

/*.universities Styling*/
.universities {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}