/*styles.css - Daniel Syrén (20105070)*/

/*#c Styling*/
#c {
    /*https://wallpapercave.com/w/wp5680536*/
    /*background-image: url('./assets/images/c.jpg');*/
    background-color: #2B2A33;
    background-size: 100%;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
}

/*.click Styling*/
.click {
    align-items: center;
    background: #42414D;
    border-radius: 0.5rem;
    color: #00FF00;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.click:active Styling*/
.click:active {
    transform: scale(0.96);
}

/*.click:hover Styling*/
.click:hover {
    background-color: #00FF00;
    color: #42414D;
}

/*.container Styling*/
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*#countries Styling*/
#countries {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/*.flex Styling*/
.flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.flexBar Styling*/
.flexBar {
    align-items: center;
    background: #42414D;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 500px;
}

/*input Styling*/
input {
    background: #42414D;
    border: none;
    color: #00FF00;
    margin: 0 0.5rem 0 0.5rem;
    outline: none;
    width: 100%;
}

/*.navOff Styling*/
.navOff {
    align-items: center;
    background: #42414D;
    border-radius: 0.5rem;
    color: #00FF00;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.navOff:active Styling*/
.navOff:active {
    transform: scale(0.96);
}

/*.navOff:hover Styling*/
.navOff:hover {
    background-color: #00FF00;
    color: #42414D;
}

/*.navOn Styling*/
.navOn {
    align-items: center;
    background: #00FF00;
    border-radius: 0.5rem;
    color: #42414D;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
    width: 250px;
}

/*.navOn:active Styling*/
.navOn:active {
    transform: scale(0.96);
}

/*.university Styling*/
.university {
    align-items: center;
    background: #42414D;
    border-radius: 0.5rem;
    color: #00FF00;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
}

/*.university:hover Styling*/
.university:hover {
    background-color: #00FF00;
    color: #42414D;
}