/*styles.css - Daniel Syrén (20105070)*/

/*.button Styling*/
.button {
    background-color: #FFFFFF;
}

/*.button:active Styling*/
.button:active {
    transform: scale(0.96);
}

/*.button:hover Styling*/
.button:hover {
    background-color: #00FF00;
}

/*#c Styling*/
#c {
    /*https://wallpapercave.com/w/wp5680536*/
    background-color: #FFFFFF;
    background-image: url('./assets/images/c.jpg');
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
}

/*.container Styling*/
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*#countries Styling*/
#countries {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/*.flex Styling*/
.flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.flexBar Styling*/
.flexBar {
    text-align: center;
}

/*.navOff Styling*/
.navOff {
    background-color: #FFFFFF;
    font-size: 2em;
    font-weight: bold;
}

/*.navOff:active Styling*/
.navOff:active {
    transform: scale(0.96);
}

/*.navOff:hover Styling*/
.navOff:hover {
    background-color: #00FF00;
}

/*.navOn Styling*/
.navOn {
    background-color: #00FF00;
    font-size: 2em;
    font-weight: bold;
}

/*.navOn:active Styling*/
.navOn:active {
    transform: scale(0.96);
}

/*.navOn:hover Styling*/
.navOn:hover {
    background-color: #00FF00;
}

.university {
    background-color: #FFFFFF;
}

.university:hover {
    background-color: #00FF00;
}