<!--register.component.html - Daniel Syrén (20105070)-->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Made for Leavers - Register</title>
</head>

<body>

  <!--Navigation Bar-->
  <div class="container">
    <a href="/Login">
      <div class="navOff">Login</div>
    </a>
    <a href="/Register">
      <div class="navOn">Register</div>
    </a>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />

  <!--Form Container-->
  <div class="forms">
    <div class="container">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 484px;">
          <div>
            <input type="text" placeholder="Email" formControlName="email" />
          </div>
          <div>
            <input type="password" placeholder="Password" formControlName="password" />
          </div>
          <div style="height: 16px;"></div>
          <div>
            <button class="fa fa-check"
              style="background: #00FF00; border: none; border-radius: 0.5rem; color: #004800; height: 2rem; width: 2rem;"
              type="submit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>