<!--search.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="flex">
        <div class="navOn">
            <a href="/Search">Search</a>
        </div>
        <div class="navOff">
            <a href="/Ask">Ask</a>
        </div>
        <div class="navOff">
            <a href="/Load">Load</a>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--Search Bar-->
    <div class="flexBar">
        <input type="text" placeholder="Enter a country/city..." [(ngModel)]="input" (keydown.enter)="search()"/>
        <button class="button" (click)="search()">SEARCH</button>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--University Containers-->
    <div class="container" *ngFor="let university of universities">
        <div class="university">
            <a href='{{university.webPage}}' target='_blank'>{{university.name}}</a>
            <button class="button" (click)="save(university)">SAVE</button>            
        </div>
        <div style="height:18px;">
        </div>
    </div>

    <!--Country Containers-->
    <div id="countries" *ngIf="displayCountries">
        <button class="button" (click)="searchCountry(country1)">{{country1}}</button>
        <button class="button" (click)="searchCountry(country2)">{{country2}}</button>
        <button class="button" (click)="searchCountry(country3)">{{country3}}</button>
        <button class="button" (click)="searchCountry(country4)">{{country4}}</button>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>