<!--search.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="flex">
        <a href="/Search">
            <div class="navOn">Search</div>
        </a>
        <a href="/Ask">
            <div class="navOff">Ask</div>
        </a>
        <a href="/Load">
            <div class="navOff">Load</div>
        </a>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--Search Bar-->
    <div class="flex">
        <div class="flexBar">
            <div class="fa fa-search"></div>
            <input type="text" placeholder="Enter a country/city..." [(ngModel)]="input" (keydown.enter)="search()"/>
            <button class="fa fa-search" (click)="search()"></button>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--University Containers-->
    <div class="container" *ngFor="let university of universities">
        <div class="flex">
            <a class="university" href='{{university.webPage}}' target='_blank'>
                {{university.name}}
            </a>
            <div style="width:12px;"></div>
            <button class="fa fa-floppy-disk" (click)="save(university)"></button>
        </div>       
        <div style="height:18px;"></div>
    </div>

    <!--Country Containers-->
    <div id="countries" *ngIf="displayCountries">
        <div class="click" (click)="searchCountry(country1)">{{country1}}</div>
        <div class="click" (click)="searchCountry(country2)">{{country2}}</div>
        <div class="click" (click)="searchCountry(country3)">{{country3}}</div>
        <div class="click" (click)="searchCountry(country4)">{{country4}}</div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>