<!--ask.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Made for Leavers - Ask</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="container">
        <a href="/Search">
            <div class="navOff">Search</div>
        </a>
        <a href="/Ask">
            <div class="navOn">Ask</div>
        </a>
        <a href="/Load">
            <div class="navOff">Load</div>
        </a>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--Guidance Counsellor-->
    <div class="container">
        <div class="counsellor">
            <embed src="https://myninja.ai/?recommendation=ASSISTANT&gad_source=1&gclid=EAIaIQobChMIyKLzuenxhgMVYIdQBh3DOAmhEAMYASAAEgLU0_D_BwE" style="border-radius: 0.5rem; height: 275px; width: 475px;">
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>