<!--ask.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ask</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="flex">
        <div class="navOff">
            <a href="/Search">Search</a>
        </div>
        <div class="navOn">
            <a href="/Ask">Ask</a>
        </div>
        <div class="navOff">
            <a href="/Load">Load</a>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>