<!--load.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Load</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="flex">
        <div class="navOff">
            <a href="/Search">Search</a>
        </div>
        <div class="navOff">
            <a href="/Ask">Ask</a>
        </div>
        <div class="navOn">
            <a href="/Load">Load</a>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--University Containers-->
    <div class="container" *ngFor="let university of universities">
        <div class="university">
            <a href='{{university.webPage}}' target='_blank'>{{university.name}}</a>
            <button class="button" (click)="delete(university.name)">DELETE</button>
        </div>
        <div style="height:18px;">
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>