<!--load.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Load</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="flex">
        <a href="/Search">
            <div class="navOff">Search</div>
        </a>
        <a href="/Ask">
            <div class="navOff">Ask</div>
        </a>
        <a href="/Load">
            <div class="navOn">Load</div>
        </a>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--University Containers-->
    <div class="container" *ngFor="let university of universities">
        <div class="flex">
            <a class="university" href='{{university.webPage}}' target='_blank'>
                {{university.name}}
            </a>
            <div style="width:12px;"></div>
            <button class="fa fa-trash" (click)="delete(university.name)"></button>
        </div>       
        <div style="height:18px;"></div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>