<!--load.component.html - Daniel Syrén (20105070)-->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Made for Leavers - Load</title>
</head>

<body>

    <!--Navigation Bar-->
    <div class="container">
        <a href="/Search">
            <div class="navOff">Search</div>
        </a>
        <a href="/Ask">
            <div class="navOff">Ask</div>
        </a>
        <a href="/Load">
            <div class="navOn">Load</div>
        </a>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <!--University Container-->
    <div class="universities" *ngFor="let university of universities">
        <div class="container">
            <a class="university" href='{{university.webPage}}' target='_blank'>
                {{university.name}}
            </a>
            <button class="fa fa-trash" (click)="removeUniversity(university.name)" style="background: #00FF00; border: none; border-radius: 0.5rem; color: #004800; height: 2rem; width: 2rem;"></button>
        </div>       
        <div style="height: 16px;"></div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</body>

</html>