<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9af57061-0447-40d2-8f3c-e325ae8c9385/resourcegroups/madeforleaversrg/providers/Microsoft.Web/sites/madeforleaversapi</ResourceId>
    <ResourceGroup>madeforleaversrg</ResourceGroup>
    <ApiResourceId>/subscriptions/9af57061-0447-40d2-8f3c-e325ae8c9385/resourceGroups/madeforleaversrg/providers/Microsoft.ApiManagement/service/madeforleaversms/apis/madeforleaversapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://madeforleaversapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fdb2b2d4-8eb5-424a-ab6e-b6c613970ea7</ProjectGuid>
    <MSDeployServiceURL>madeforleaversapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>madeforleaversapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$madeforleaversapi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>